<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forside</title>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/topNavbar %>
        <div id="container">
            <% include ../partials/sideNavbar %>
                <main>
                    <%  frontpageProducts.forEach((element)=>{ %>
                        <div class="frontpageProducts">
                            <img src="./img/<%=element.billede %>">
                            <div class="productText">
                                <h3>
                                    <%= element.name %>
                                </h3>
                                <p>
                                    <%= element.text %>
                                </p>
                                <p class="læsMere">DKK
                                    <%= element.pris %>,-
                                </p>
                                <p class="info">INFO</p>
                            </div>
                        </div>
                        <%})%>
                            <div id="infoBox">
                                <h3>
                                    <%=frontpageInfo.title %>
                                </h3>
                                <p>
                                    <%= frontpageInfo.firstP %>
                                </p>
                                <p>
                                    <%= frontpageInfo.secondP %>
                                </p>
                            </div>
                </main>


                <% include ../partials/footer %>
        </div>
</body>

</html>